html,
body {
  height: 100%;
}

.center-me-please {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Sticky footer styles */

.thumbnail img{
	width: 100%;
	height: auto;
}

#main_thumbnail {
	padding: 0;
	
}

.delete-form{
	display:inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

label {
	font-weight: bold;
}
/*
 * Footer
 */
.blog-footer {
	padding: 1.0rem 0;
	color: #FFF;
	text-align: center;
	background-color: #212529;
	border-top: .05rem solid #e5e5e5;  
	position: absolute;
	bottom: 0;
	width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/*
 * Footer for main campground page because footer is not working properly
 */
.blog-footer2 {
	padding: 1.0rem 0;
	color: #FFF;
	text-align: center;
	background-color: #212529;
	border-top: .05rem solid #e5e5e5;  
	/* position: absolute; */
	bottom: 0;
	width: 100%;
}
.blog-footer2 p:last-child {
  margin-bottom: 0;
}
